@model Fermeture

<h1>Prochaine Fermture</h1>
<h2>@Model.BoatName</h2>
<h2>@Model.ClosingType</h2>
<h2>@Model.ClosingDate</h2>
<h2>@Model.ReopeningDate</h2>
<h2>@Model.ClosingDateString</h2>
<h2>@Model.ReopeningDateString</h2>
<h2>@Model.Duration</h2>